---
import type { Playlist } from "@/libs/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const formatter = new Intl.ListFormat("en", {
  style: "long",
  type: "conjunction",
});

const artistsString = formatter.format(artists);
---

<a
  href={`/playlist/${id}`}
  class="playlist-tem flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-800 transition"
>
  <picture class="h-12 w-12 flex-none">
    <img
      src={cover}
      alt={`Cover of ${title} by ${artistsString}`}
      class="object-cover w-full h-full rounded-md"
    />
  </picture>

  <div class="flex flex-auto flex-col truncate">
    <h4
      class="font-smibold text-sm text-gray-300 hover:text-gray-100 transition"
    >
      {title}
    </h4>
    <span class="text-xs text-gray-400">{artistsString}</span>
  </div>
</a>
